@{
    Layout = null;
}
<div class="col-sm-12 col-md-3 col-lg-3">
    <!-- Nav tabs -->
    <div class="dashboard_tab_button">
        <ul role="tablist" class="nav flex-column dashboard-list">
            <li><a href="#dashboard" data-toggle="tab" class="nav-link active">داشبورد</a></li>
            <li> <a href="#orders" data-toggle="tab" class="nav-link">سفارشات</a></li>
            <li><a href="#downloads" data-toggle="tab" class="nav-link">دریافت ها</a></li>
            <li><a href="#address" data-toggle="tab" class="nav-link">آدرس ها</a></li>
            <li><a href="#account-details" data-toggle="tab" class="nav-link">جزئیات حساب</a></li>
            <li><a href="login.html" class="nav-link">خروج</a></li>
        </ul>
    </div>
</div>