            
@{
    Layout = null;
}

<div class="col-md-3">
    
    <!-- Nav tabs -->
    <div class="dashboard_tab_button">
        <ul role="tablist" class="nav flex-column dashboard-list">
            <li><a href="/UserPanel"  class="nav-link active">داشبورد</a></li>
            <li><a href="/UserPanel/Wallet" class="nav-link">شارژ کیف پول</a></li>
            <li><a href="/UserPanel/UserInformationsConfirm" class="nav-link">جزئیات حساب</a></li>
            <li><a href="/UserPanel/ChangePassword" class="nav-link">تغییر رمز عبور</a></li>
            <li> <a href="/UserPanel/UserAddresses"  class="nav-link">آدرس ها</a></li>
            <li><a href="/Logout" class="nav-link">خروج</a></li>
        </ul>
    </div>
</div>