@page
@model AntomiShop.Pages.UserPanel.ChangePasswordModel
@{
}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">خانه</a></li>
                        <li>حساب کاربری</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="account_page_bg">
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            <section class="main_content_area">
                <div class="account_dashboard">
                    <div class="row">
                        <partial name="_SideBar" />
                        <div class="col-md-9" style="background-color:white">
                            <div class="tab-content dashboard_content">
                                @if (Convert.ToBoolean(ViewData["PasswordChanged"]) == true)
                                {
                                    <div class="alert alert-success">
                                        رمز عبور شما با موفقیت تغییر یافت از این پس می توانید با استفاده از رمز عبور جدیدتان وارد شوید
                                    </div>
                                }
                                <div class="tab-pane fade active show" id="account-details">
                                    <h3>تغییر رمز عبور </h3>
                                    <hr />
                                    <div class="login">
                                        <div class="login_form_container">
                                            <div class="form-group">
                                                <label>رمز عبور فعلی</label>
                                                <input asp-for="change.CurrentPassword" class="form-control" type="password">
                                                <span asp-validation-for="change.CurrentPassword" class="text-danger"></span>
                                                @if (Convert.ToBoolean(ViewData["PasswordNotMatched"]) == true)
                                                {
                                                    <p class="text-danger">پسورد فعلی تان را بصورت صحیح وارد کنید</p>
                                                }
                                                <br />

                                                <label>رمز عبور جدید</label>
                                                <input asp-for="change.NewPassword" class="form-control" type="password">
                                                <span asp-validation-for="change.NewPassword" class="text-danger"></span>
                                                <br />

                                                <label>تکرار رمز عبور جدید</label>
                                                <input asp-for="change.RepeatNewPassword" class="form-control" type="password">
                                                <span asp-validation-for="change.RepeatNewPassword" class="text-danger"></span>
                                                @if (Convert.ToBoolean(ViewData["NotMatched"]) == true)
                                                {
                                                    <p class="text-danger">تکرار رمز عبورصحیح نمی باشد</p>
                                                }
                                                <br />
                                                <div class="save_button primary_btn default_button">
                                                    <button type="submit">ذخیره</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
</div>

