@page
@model AntomiShop.Pages.Admin.Users.CreateUserModel
@{

}
<div class="row">
    <form role="form" method="post" enctype="multipart/form-data">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">افزودن کاربر جدید</h3></div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="exampleInputPassword1">ایمیل</label>
                        <input asp-for="CreateUserViewModel.Email" type="email" class="form-control" id="exampleInputEmail1">
                        @if (Convert.ToBoolean(ViewData["IsExistEmail"]) == true)
                        {
                            <div class="text-danger">
                                این ایمیل از قبل وجود دارد
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">رمز عبور</label>
                        <input asp-for="CreateUserViewModel.Password" type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-group">
                        <div class="checkbox checkbox-primary">
                            @{
                                List<Role> roles = ViewData["Roles"] as List<Role>;
                            }
                            <h4>نقش های کاربر</h4>
                            <hr />
                            @foreach (var role in roles)
                            {
                                <div style="margin-right:20px">
                                    <input type="radio" value="@role.RoleId" asp-for="CreateUserViewModel.RoleId" > @role.RoleTitle
                                </div>
                                <br />
                            }
                        </div>
                    </div>
                    <button type="submit" class="btn btn-purple waves-effect waves-light">ثبت نام کاربر</button>
                </div><!-- panel-body -->
            </div> <!-- panel -->
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">تصویر کاربر</h3></div>
                <div class="panel-body">
                    <div class="form-group">
                        <img id="imgAvatar" class="img img-thumbnail" src="/UserAvatar/Default.png" />
                    </div>
                    <div class="form-group">
                        <input asp-for="CreateUserViewModel.UserAvatar" id="imgInp" type="file" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts
{
<script>
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgAvatar').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#imgInp").change(function () {
        readURL(this);
    });
</script>
}