@model RegisterAndLoginViewModel

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">خانه</a></li>
                        <li>حساب کاربری</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="login_page_bg">
    <div class="container">
        <div class="customer_login">
            <div class="row">
                <!--login area start-->
                <div class="col-lg-6 col-md-6">
                   
                    <div class="account_form login"> @if (ViewBag.LogedIn == true)
                    {
                        <div class="alert alert-success">
                            با موفقیت وارد شدید در حال انتقال ...
                        </div>
                        <script>
                            // Your delay in milliseconds
                            var delay = 3000;
                            setTimeout(function () { window.location = "http://localhost:13831/UserPanel"; }, delay);
                        </script>
                    }
                        <h2>ورود</h2>
                        <form asp-controller="Account" asp-action="Login" method="post">
                            <p>
                                <label> ایمیل <span class="text-danger">*</span></label>
                                <input asp-for="Email" type="text" dir="ltr">
                                <span asp-validation-for="Email" class="text-danger"></span>

                            </p>
                            <p>
                                <label> رمز عبور <span class="text-danger">*</span></label>
                                <input asp-for="Password" type="password" dir="ltr">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </p>
                            <div class="login_submit">
                                <a href="#">رمز عبور خود را فراموش کرده اید؟</a>
                                <label for="remember">
                                    <input asp-for="RememberMe" id="remember" type="checkbox">
                                    به خاطر سپاری
                                </label>
                                <button type="submit">ورود</button>

                            </div>

                        </form>
                    </div>
                </div>
                <!--login area start-->
                <div class="col-lg-6 col-md-6">
                    <div class="account_form register">
                        <h2>ثبت نام</h2>
                        <form asp-controller="Account" asp-action="Register" method="post">
                            <p>
                                <label>آدرس ایمیل <span class="text-danger">*</span></label>
                                <input asp-for="Email" type="text" dir="ltr">
                            </p>
                            <p>
                                <label>رمز عبور <span class="text-danger">*</span></label>
                                <input asp-for="Password" type="password" dir="ltr">
                            </p>
                            <p>
                                <label>تکرار رمز عبور<span class="text-danger">*</span></label>
                                <input asp-for="Repassword" type="password" dir="ltr">
                            </p>
                            <div class="login_submit">
                                <button type="submit">ثبت نام</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
